<!DOCTYPE html>
<html>
<head>
    <title>GESTOR DE USUARIOS</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">
    <div class="card shadow p-4">
        <h1 class="text-center text-primary">GESTOR DE USUARIOS</h1>

        <p class="text-center">
            BIENVENID@: <strong>{{ session.get('usuario', 'Invitado') }}</strong>
        </p>

        <div class="text-center">

            {% if session['rol'] == 'admin' %}
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
                    Registrar Usuario
                </button>

                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEmpleado">
                    Registrar empleado
                </button>
            {% endif %}

            {% if session['rol'] == 'empleado' %}

            {% endif %}

            <a href="{{ url_for('salir') }}" class="btn btn-danger">
                Cerrar sesión
            </a>
        </div>
    </div>
</div>

<! --tabla usuarios admin-- !>
{% if session['rol'] == 'admin' %}
<div class="container mt-4">
    <h3>Usuarios</h3>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <td>ID</td>
                <td>Usuario</td>
                <td>Contraseña</td>
                <td>Rol</td>
                <td>Documento</td>
                <td>Opciones</td>
            </tr>
        </thead>

        <tbody>
            {% for u in user %}
            <tr>
                <td>{{u[0]}}</td>
                <td>{{u[1]}}</td>
                <td>{{u[2]}}</td>
                <td>{{u[3]}}</td>
                <td>{{u[4]}}</td>
                <td>
                    <a href="{{ url_for('eliminarusu', id=u[0]) }}" class="btn btn-danger btn-sm">
                        Eliminar
                    </a>

                    <a href="{{ url_for('editar_usuario', id=u[0]) }}" class="btn btn-warning btn-sm">
                        Editar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<!-- TABLA EMPLEADOS -->
<div class="container mt-4">
    <h3>Empleados</h3>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <td>Id</td>
                <td>documento</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Cargo</td>
                <td>Salario Bruto</td>
                <td>Horas Extra</td>
                <td>Bonificación</td>
                <td>Departamento</td>
                <td>Opciones</td>
            </tr>
        </thead>

        <tbody>
            {% for e in emple %}
            <tr>
                <td>{{ e[0] }}</td>
                <td>{{ e[1] }}</td>
                <td>{{ e[2] }}</td>
                <td>{{ e[3] }}</td>
                <td>{{ e[4] }}</td>
                <td>{{ e[5] }}</td>
                <td>{{ e[6] }}</td>
                <td>{{ e[7] }}</td>
                <td>{{ e[11] }}</td>
            <td>

                    {% if session['rol'] == 'admin' %}
                        <a href="{{ url_for('eliminar_empleado', id=e[0]) }}" class="btn btn-danger btn-sm">
                            Eliminar
                        </a>

                        <a href="{{ url_for('editar_empleado', id=e[0]) }}" class="btn btn-warning btn-sm">
                            Editar
                        </a>
                    {% else %}
                        <a href="{{ url_for('mi_perfil') }}" class="btn btn-primary btn-sm">
                            Ver perfil
                        </a>
                    {% endif %}

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>